<h1>Restaurants</h1>

  <% @restaurants.each do |restaurant| %>
    <%= restaurant.name, restaurant_path(restaurant) %>
     <h4><%= restaurants.address %> : <%=  restaurants.phone_number %> : <%= restaurants.category %></h
  <% end %>
